.dt-button{
    background: darkgray !important;
}
ul.menu-list,
ul.menu-submenu {
    list-style-type: none; 
    padding-left: 0; 
}

li.menu-item {
    margin: 0; 
}
.img-height{
    height: 100px;
    width: 100px;
}
.img-height-50{
    height: 50px;
    width: 50px;
}

ul li{
    list-style-type: none;
}

/* Change the color of the dropdown on focus */
.form-control:focus {
    border-color: #007bff !important; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

/* Style for the options (for supported browsers) */
select option {
    color: black !important; 
}